/***** Brandng *****/
a {
    color: #8c0000;
    text-decoration: none;
}

a:hover {
    color: #a50000;
    text-decoration: none;
}

.form-control[readonly] {
    background-color: #e6e6e6;
    opacity: 1;
}

/* .btn-primary {
    color: #fff;
    background-color: #8c0000 !important;
    border-color: #a50000 !important;
}

.btn-primary:hover,
.btn-primary:visited {
    color: #fff;
    background-color: #a50000 !important;
    border-color: #a50000 !important;
}

.form-check-input:checked {
    background-color: #8c0000;
    border-color: #a50000;
} */

#sidebar-menu .menuitem-active .active {
    color: #8c0000;
}

#sidebar-menu > ul > li > a:active,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:hover {
    color: #8c0000;
    text-decoration: none;
}

#sidebar-menu > ul > li > a {
    color: #333;
    display: block;
    padding: 12px 20px;
    position: relative;
    transition: all 0.4s;
    font-family: Karla, sans-serif;
    font-size: 0.95rem;
}

#sidebar-menu > ul > li > a:hover {
    color: #8c0000;
}

#sidebar-menu .menu-title {
    background-color: #f0f0f0;
    color: #8c0000;
}

.nav-second-level li a {
    padding: 8px 20px;
    color: var(--ct-menu-item);
    display: block;
    position: relative;
    transition: all 0.4s;
    font-size: 0.875rem;
}

.nav-second-level li a:hover {
    padding: 8px 20px;
    color: #8c0000;
    display: block;
    position: relative;
    transition: all 0.4s;
    font-size: 0.875rem;
}

/******************/

body.authentication-bg {
    background-image: url(../images/bg-auth1.jpg);
    background-size: cover;
    background-position: center;
}

div.error {
    color: red;
    font-size: 14px;
    margin: 3px 5px;
}

.inputerror {
    border: 1px solid red !important;
}

.select2.form-control.select2-hidden-accessible.inputerror {
    border: 1px solid red !important;
}

a.text-muted:hover {
    color: #a50000 !important;
}

.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0;
    background: linear-gradient(to bottom, #eee, #fff 25px);
    background-image: -webkit-linear-gradient(top, #eee, #fff 25px);
    border-radius: 18px;
    cursor: pointer;
    box-sizing: content-box;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #ca2121;
    border-radius: inherit;
    box-sizing: content-box;
}

.switch-label:after,
.switch-label:before {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #fff;
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #fff;
    opacity: 0;
}

.switch-input:checked ~ .switch-label {
    background: #29b933;
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #fff 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #fff 40%, #f0f0f0);
    border-radius: 100%;
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eee, #fff);
    background-image: -webkit-linear-gradient(top, #eee, #fff);
    border-radius: 6px;
}

.switch-input:checked ~ .switch-handle {
    left: 74px;
}

.ck-editor__editable {
    min-height: 200px !important;
}

.select2-container .select2-selection--single {
    border: 1px solid var(--ct-input-border-color) !important;
    height: calc(1.5em + 0.9rem + 2px) !important;
    background-color: var(--ct-input-bg) !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
    padding-left: 12px !important;
    color: var(--ct-input-color) !important;
    text-align: left !important;
    display: block !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
    width: 35px !important;
    top:1px !important;
    right: 3px !important;
}

.form-control.selectize-control {
    height: 38px !important;
}

.selectize-input {
    min-height: calc(1.5em + 0.9rem + 2px) !important;
    padding: 0.45rem 0.9rem !important;
    font-size: .9rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: var(--ct-input-color) !important;
    background-color: var(--ct-input-bg)!important;
    border: 1px solid var(--ct-input-border-color) !important;
    box-shadow: none !important;
}

.selectize-control.single .selectize-input:after {
    border-style: solid !important;
    border-width: 0 2px 2px 0 !important;
    border-color: transparent #adb5bd #adb5bd transparent !important;
    content: "" !important;
    display: block !important;
    height: 7px !important;
    margin-top: -5px !important;
    pointer-events: none !important;
    position: absolute !important;
    right: 15px !important;
    left: auto !important;
    top: 50% !important;
    transform-origin: 66% 66% !important;
    transform: rotate(45deg) !important;
    transition: all .15s ease-in-out !important;
    width: 7px !important;
}

table > thead > tr > td {
    font-weight: 500;
}

.fm {
    position: relative;
    height: 650px !important;
    padding: 1rem;
    background-color: #fff;
}

.fm button[title=" Hidden files"],
.fm button[title="About"],
.fm button[title="Full screen"],
.fm button[title="Cut"],
.fm button[title="Copy"],
.fm button[title="Paste"],
.fm button[title="Back"],
.fm button[title="Forward"] {
    display: none !important;
}

input[type="file"]::after {
    display: none;
}
input[type="file"]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #727272;
    padding: 8px 12px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
    background: #474747;
}

.profile-image-preview {
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.file-image-preview {
    width: 280px;
    padding: 5px;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.image-holder {
    width: 170px;
    padding: 2px;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.icon-holder {
    width: 40px;
    padding: 1px;
    background-color: #fff;
    border-radius: 1px;
}

.testi-holder {
    width: 80px;
    padding: 2px;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.mr-2 {
    margin-right: 15px;
}
